html{
height: 100%;
}

body{
    background-color: #2f3035;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{

    height: 118px;
    text-align: center;
}
nav{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 14px;
    padding-bottom:14px;
}
main{
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
footer{
    background-color: rgba(0, 0, 0, 0.599);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.606);
}
h1{
    font-size:84px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size:18px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}
nav a{
    text-decoration:none;
    font-size:12px;
    padding-left: 10px;
    padding-right: 10px;
}
.maps{
    padding-bottom: 100px;
}